// app global css in SCSS form
@import 'src/css/quasar.variables';

@mixin custom-scrollbar($isDark: false, $isPage: false) {
  overflow: auto !important;
  &::-webkit-scrollbar {
    background-color: transparent;
    height: 0;
    width: 16px;

    &-button {
      display: none;
    }

    &-thumb {
      @if $isDark {
        background-color: $grey-9;
        @if $isPage {
          border-color: $dark-page;
        } @else {
          border-color: $dark;
        }
      } @else {
        background-color: $grey-4;
        @if $isPage {
          border-color: $light;
        } @else {
          border-color: $light;
        }
      }
      border-width: 4px;
      border-style: solid;
      border-radius: 8px;
      right: 4px;
      width: 8px;

      &:hover {
        background-color: $grey-6;
      }
    }

    &-track {
      background-color: transparent;
    }
  }
}

body.body--dark {
  .scrollbar {
    &-container {
      @include custom-scrollbar(true);
    }

    &-page {
      @include custom-scrollbar(true, true);
    }
  }

  .q-btn, .color-auto {
    background-color: $dark;
  }

  .q-footer {
    background-color: $dark-page;
  }

  .q-header {
    background-color: $dark;
  }

  .q-input, .color-auto {
    background-color: $dark;
  }

  .text-auto {
    color: $white;
  }
}

body.body--light {
  .scrollbar {
    &-container {
      @include custom-scrollbar(false, false);
    }

    &-page {
      @include custom-scrollbar(false, true);
    }
  }

  .q-btn.color-auto {
    background-color: $grey-3;
    color: $grey-8;
  }

  .q-footer {
    background-color: $light;
  }

  .q-header {
    background-color: $light;
  }

  .q-field.color-auto {
    background-color: $grey-3;
  }

  .text-auto {
    color: $black;
  }
}
