// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$black: #000000;

$grey-1: #fafafa;
$grey-2: #f4f4f5;
$grey-3: #e4e4e7;
$grey-4: #d4d4d8;
$grey-5: #a1a1aa;
$grey-6: #71717a;
$grey-7: #52525b;
$grey-8: #3f3f46;
$grey-9: #27272a;
$grey-10: #18181b;
$grey: $grey-5;

$white: #ffffff;

$primary: #3b82f6;
$secondary: #0ef0a2;
$accent: #8d39e0;

$dark: $grey-9;
$dark-page: $grey-10;
$light: $grey-2;
$light-page: $grey-1;

$positive: #22c55e;
$negative: #f04118;
$info: #00c2f0;
$warning: #f0b018;
