// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$black: #000000;

$grey-1: #FAFAFA;
$grey-2: #F4F4F5;
$grey-3: #E4E4E7;
$grey-4: #D4D4D8;
$grey-5: #A1A1AA;
$grey-6: #71717A;
$grey-7: #52525B;
$grey-8: #3F3F46;
$grey-9: #27272A;
$grey-10: #18181B;
$grey: $grey-6;

$white: #FFFFFF;

$primary: #3B82F6;
$secondary: #0EF0A2;
$accent: #8D39E0;

$dark: $grey-9;
$dark-page: $grey-10;
$light: $grey-2;
$light-page: $grey-1;

$positive: #22C55E;
$negative: #F04118;
$info: #00C2F0;
$warning: #F0B018;
